#game {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 5px;
    margin: 20px;
}

.cell {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.on {
    background: yellow;
}

.off {
    background: gray;
}